#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --mandir=/usr/share/man --sysconfdir=/etc/chrony --without-readline

override_dh_auto_build:
	dh_auto_build
	make docs

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_auto_install:
	dh_auto_install

	perl faqgen.pl < faq.txt > faq.html

	cp debian/ip-up debian/chrony/etc/ppp/ip-up.d/chrony
	cp debian/ip-down debian/chrony/etc/ppp/ip-down.d/chrony
	cp debian/apm debian/chrony/etc/apm/event.d/01chrony
	chmod 755 debian/chrony/etc/apm/event.d/01chrony
	chmod 755 debian/chrony/etc/ppp/ip-up.d/chrony debian/chrony/etc/ppp/ip-down.d/chrony
